header{
    background-color: $colorprincipal;
    .logo{
        text-align: left;
        align-items: center;
    }
    .img_logo{
        width: 80px;
    }
        h1{
        text-align: center;
        font-size: 3rem;
        color: $colorfuente;
        padding: 10px;
    }
        .menu{
            list-style: none;
            background-color: $colorsecundario;
            padding: 0;
            margin: 20px auto;
            width: 90%;
            border-radius: 8px;
            display: flex;
            justify-content: space-evenly;  
                li a{
                text-decoration: none;
                display: flex;
                align-items: center;
                padding: 20px;
                color: $colorprincipal;
                display: flex;
                &:hover{
                    background-color: white;
                    border-radius: 8px;
                    font-weight: bold;
                        
                }
                
            }
        }

}
@media (max-width: 420px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px;
        width: 100%;
    }
}